*{
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: rgb(0, 255, 213);
    font-size: 30px;
    display: flex;
    background-color: rgba(255, 0, 238, 0.534);
}
h1{
    font-size: 80px;
    color: blue;
}